@model AboutViewModel
<!-- Start Breadcrumb
============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/12.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
            </div>
            <div class="col-md-6 text-right">
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Services
============================================= -->
<div class="services-area inc-icon bg-gray carousel-shadow default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Centres of <span>Excellence</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-items text-center">
                <!-- Single Item -->
                @foreach (var item in Model.Services)
                {
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>
                                    @item.Title
                                </h4>
                                <div style="overflow:hidden; width:100px; height:100px; border-radius:100%; margin:auto;" class="overlay">
                                    <img src="@item.PhotoUrl" alt="ServicesPhoto" />
                                </div>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Start Why Chose Us
============================================= -->
<div class="chose-us-area">
    <div class="container-full">
        <div class="row">
            @foreach (var item in Model.WhyChooseUS)
            {
                <div class="col-md-6 thumb bg-cover" style="background-image: url(@item.PhotoUrl);"></div>
                <div class="col-md-6 info">
                    <div class="heading">
                        <h2>Why Chose us</h2>
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <ul>
                        @foreach (var i in item.WhyChooseUsItems)
                        {
                            <li>
                                <div class="info">
                                    <h4>@i.Title</h4>
                                    <p>@i.Description </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Why Chose Us -->
<!-- Start Doctors
============================================= -->
<div class="doctor-area bg-gray carousel-shadow default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Meet Our <span>Specialists</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="doctor-items doctor-carousel owl-carousel owl-theme text-center">
                    <!-- Single Item -->
                    @foreach (var item in Model.Teamboards)
                    {
                        <div class="item">
                            <div class="thumb">
                                <img src="@item.PhotoUrl" alt="Thumb">
                                <div class="overlay">
                                </div>
                                <div class="social">
                                    <ul>
                                        <li class="facebook">
                                            <a target="_blank" href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="instagram">
                                            <a target="_blank" href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li class="linkedin">
                                            <a target="_blank" href="@item.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="info">
                                <h4>@item.Name @item.Surname</h4>
                                <h5>@item.Profession</h5>
                                <div class="appoinment-btn">
                                </div>
                            </div>
                        </div>
                    }
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Doctors -->