@model HomeViewModel
<!-- Start Banner
    ============================================= -->
<div style="" class="banner-area text-light gradient-bg standard auto-height">
    <!-- Fixed Shape -->
    <div class="fixed-shape" style="background-image: url(assets/img/shape-2.png);"></div>
    <!-- End Fixed Shape -->
    <div class="item">
        <div class="box-table">
            <div class="box-cell">
                <div class="container">
                    <div class="row">
                        <div class="content double-items">
                            @foreach (var item in Model.Slides)
                            {
                                <div class="col-md-6 info">
                                    <h1 data-animation="animated slideInRight">@item.Title</h1>
                                    <p data-animation="animated slideInUp">@item.Content</p>
                                </div>

                                <!-- Start thumb Form -->
                                <div class="col-md-6 thumb-box">
                                    <div class="thumb">
                                        <img src="@item.PhotoUrl" alt="Thumb">
                                    </div>
                                </div>
                            }
                            <!-- End thumb Form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->
<!-- Start Services
============================================= -->
<div style="margin-top: 80px;" class="services-area inc-icon carousel-shadow default-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Bizim <span>Xidmətlərimiz</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="services-items text-center services-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    @foreach (var item in Model.Services)
                    {
                        if(item.IsHomePage){
                            <div class="item">
                                <div class="info">
                                    <h4>
                                        <a href="#">@item.Title</a>
                                    </h4>
                                    <div style="overflow:hidden; width:100px; height:100px; border-radius:100%; margin:auto;" class="overlay">
                                        <img src="@item.PhotoUrl" alt="ServicesPhoto" />
                                    </div>
                                    <p style="text-align:center;">@item.Description</p>
                                    <a class="btn btn-theme border circle btn-md" href="#">Daha Çox</a>
                                </div>
                            </div>
                        }
                        
                    }
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Start top services
============================================= -->
<div class="top-services-area default-padding-bottom">
    <div class="services-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- Tab Nav -->
                    <!-- End Tab Nav -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- Start Tab Content -->
                @foreach (var item in Model.ServiceAbout)
                {
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="row item-flex center">
                                <div class="col-md-5 thumb">
                                    <img src="@item.PhotoUrl" alt="Thumb">
                                </div>
                                <div class="col-md-7 info">
                                    <h2>@item.Title</h2>
                                    <p>
                                        @item.Description
                                    </p>
                                    <ul>
                                        @foreach (var i in item.ServiceAboutItems)
                                        {
                                            <li>@i.Text</li>
                                        }
                                    </ul>
                                    <a class="btn circle btn-theme effect btn-md" href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- End Tab Content -->
            </div>
        </div>
    </div>
</div>
<!-- End top services -->
<!-- Start Fun Factor
============================================= -->
<div class="fun-fact-area default-padding shadow light text-center bg-fixed text-light" style="background-image: url(assets/img/banner/2.jpg);">
    <div class="container">
        <div class="row" style="display:flex; justify-content:center;">
            @foreach (var item in Model.Facts)
            {
                <div class="col-md-3 col-sm-6 item">
                    <div class="fun-fact">
                       @item.IconUrl
                        <div class="timer" data-to="@item.Counter" data-speed="5000"></div>
                        <span class="medium">@item.Title</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Fun Factor -->
<!-- Start Doctors Tips
============================================= -->
<div class="doctor-tips-area default-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Health <span>Tips</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="health-tips-items tips-carousel owl-carousel owl-theme">
                <!-- Single Item -->
                @foreach (var item in Model.HealtTip)
                {
                    <div class="single-item">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img src="@item.PhotoUrl" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="info">
                                <div class="doctor">
                                    <h4>@item.Name @item.Surname</h4>
                                    <h5>@item.Header</h5>
                                </div>
                                <h3>@item.Title</h3>
                                <p>@item.Description</p>
                                <h4>@item.SubTitle</h4>
                                <ul>
                                    @foreach (var i in item.HealtTipItems)
                                    {
                                        <li>@i.Text</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                }
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Doctors Tips -->
<!-- Start Doctors
============================================= -->
<div class="doctor-area default-padding bottom-less">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Meet Our <span>Specialists</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="doctor-items text-center">
                <!-- Single Item -->
                @foreach (var item in Model.Teamboard)
                {
                    if (item.IsHomePage)
                    {
                        <div class="col-md-4 equal-height">
                            <div class="item">
                                <div class="thumb">
                                    <img height="370px" src="@item.PhotoUrl" alt="Thumb">
                                    <div class="overlay">
                                        <a asp-controller="Contact" asp-action="Index"><i class="fas fa-plus"></i></a>
                                    </div>
                                    <div class="social">
                                        <ul>
                                            <li class="facebook">
                                                <a target="_blank" href="@item.FacebookUrl"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li class="instagram">
                                                <a href="@item.InstagramUrl"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li class="linkedin">
                                                <a target="_blank" href="@item.LinkedinUrl"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info">
                                    <h4>@item.Name @item.Surname</h4>
                                    <h5>@item.Profession</h5>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Doctors -->
<!-- Start Blog
============================================= -->
<div class="blog-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Recent <span>Blog</span></h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-items">
                <!-- Single Item -->
                @foreach (var item in Model.Blogs)
                {
                    if(item.IsHomePage){
                        <div class="col-md-4 single-item">
                            <div class="item">
                                <div class="thumb">
                                    <a href="blog-single-right-sidebar.html">
                                        <img src="@item.PhotoUrl" alt="Thumb">
                                    </a>
                                </div>
                                <div class="info">
                                    <div class="meta">
                                        <ul>
                                            <li><a href="#">@item.TeamboardName @item.TeamboardSurname</a></li>
                                            <li>@(item.CreatedDate.ToString("dd.MM.yyyy"))</li>
                                        </ul>
                                    </div>
                                    <h4>
                                        <a href="blog-single-right-sidebar.html">@(item.Title.Length > 200 ? item.Title.Substring(0, 200) + "..." : item.Title)</a>
                                    </h4>
                                    <p>
                                        @(item.Text.Length > 300 ? item.Text.Substring(0, 300) + "..." : item.Text)
                                    </p>
                                    <a class="btn btn-theme circle border btn-sm" href="blog-single-right-sidebar.html">Read More <i class="fas fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->