@model ServiceViewModel
<!-- Start Breadcrumb
   ============================================= -->
<div class="breadcrumb-area shadow dark bg-fixed text-light" style="background-image: url(assets/img/banner/2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Our Services</h1>
            </div>
            <div class="col-md-6 text-right">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->
<!-- Start Services
============================================= -->
<div class="solid-services-area default-padding bottom-less bg-gray">
    <div class="container">
        <div class="row">
            <div class="services-items">
                <!-- Single Item -->
                @foreach (var item in Model.Services)
                {
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <div class="info">
                                <h4>
                                    @item.Title
                                </h4>
                                <div style="overflow:hidden; width:100px; height:100px; border-radius:100%; margin:auto;" class="overlay">
                                    <img src="@item.PhotoUrl" alt="ServicesPhoto" />
                                </div>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- Start Why Chose Us
============================================= -->
<div class="chose-us-area default-padding item-half">
    <div class="container">
        <div class="row">
            <div class="col-md-6 info">
                @foreach (var item in Model.WhyChoseUs)
                {
                    <div class="col-md-6 info">
                        <div class="heading">
                            <h2>Why Chose us</h2>
                            <p>
                                @item.Description
                            </p>
                        </div>
                        <ul>
                            @foreach (var items in item.WhyChooseUsItems)
                            {
                                <li>
                                    <div class="info">
                                        <h4>@items.Title</h4>
                                        <p>@items.Description </p>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <!-- Start Faq -->
            <!-- Start Faq -->
            <div class="col-md-6 faq-area">
                <div class="heading">
                    <h2>@_localization.getKey("Faq").Value</h2>
                </div>
                <div class="acd-items acd-arrow">
                    <div class="panel-group symb" id="accordion">

                        @{
                            var i = 1;

                            @foreach (var item in Model.Faqs)
                            {
                                {
                                    var idValue = $"ac{i}";
                                    var hrefValue = $"#ac{i}";
                                    <!-- Single Item -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href=@hrefValue>
                                                    @item.Question
                                                </a>
                                            </h4>
                                        </div>
                                        <div id=@idValue class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    @item.Answer
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Item -->
                                    i++;
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <!-- End Faq -->
        </div>
    </div>
</div>
<!-- End Why Chose Us -->